/* General Styles */

*{
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

nav{
  background-color: #666;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  top: 0;
  height: 75px;  
  width: 100%;
  z-index: 1;
}

.nav-links{
  flex: 1;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.nav-links, ul, li{
  margin: 0 33px;
}

.nav-links ul li a{
  color: white; 
  font-weight: 400 ;
  font-size: 16px;
}

.search{
  display: flex;
  margin-left: 230px;
  align-items: center;
}

.search form{
  /* display: flex;  */
  display: inline-block;
  margin-top: 4px;
  align-items: center; 
  justify-content: center;
  margin: 0;
}

.search input{
  padding: 8px;
  border: 1px solid #ddd;
  outline:none;
  border-radius: 5px;
  font-size: 16px;
  
 
}

.search input:hover{
  border: 1px solid #300000;
}

.go-btn{
  padding: 8px 15px;
  background-color: white;
  color: #333;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45px;
  margin-left: 1px;
}

.go-btn:hover{
  background-color: #ccc;
}

h3{
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

/* Hero section */
.hero{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  height: 60vh;  
  color:rgb(2, 24, 18) ;
  text-align: start;
  padding: top 5px;
  padding-bottom: 5px;
  background-image: url("../Ecommerce-Project/Images/chghero-img.jpg");
  background-repeat: no-repeat;
   background-position: center center;
  background-size: cover; 
}

h2{
  font-size: 36px;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 800;
  color: white;
}


.shop-btn{
  background-color: white;
  height: auto;
  width: 170px;
  color: #666;
  border: none;
  padding: 15px;
  font-size: 1em;
  margin-top: 240px;
  margin-left: 175px;
  cursor : pointer;
  font-weight: bolder;
  border-radius: 12px;
  top: 99%;
  left: 1%;
  
}

/* Featured Products */
.prod{
  padding: 20px;
  text-align: center;
  background: #505255;
}

.prod h3{
  font-size: 28px;  
  color: white;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.prod-grid{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 20px;
 
  }

.con{
  border: 5px solid rgb(16, 37, 68);
  height: 350px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.con .pic{
  padding: 0;
  width: 100%;
  height: 250px;
}

.con .pics{
  height: 250px;
  max-width: 100%;
  padding: 0;
}

.con p{
  font-size: 18px;
  margin: 10px 0;
  color: white;
}

.con .prod-btn{
  padding: 8px 15px;
  background-color: white;
  color:#2a1952 ;
  border: none;
  cursor: pointer;
  font-weight: 800;
}

/* Contact Section */
.contact{
  padding: 20px; 
  max-width: 800px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 3, 0.2);
  border: 2px solid rgba(0, 0, 3, 0.2);
}

.contact h3{
  padding-top: 20px;
  color: #505255;
  padding-bottom: 20px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
}

form input, form textarea, form button{
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
}

form button{
  background-color: #59665a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover{
  background-color: #c0c0f1;
  color: #59665a;
}

.contact p{
  color: #464e46;
}

/* About Section */
.about {
  padding: 20px;
  text-align: center;
  background: #3a4045;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}

.about h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.about p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.about .about-link {
  padding: 10px 20px;
  background-color: white;
  color: #666;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

/* Footer Styles */
footer{
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
}

footer p{
  margin: 0;
}